* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f5f0;
    color: #4b3832;
    line-height: 1;
    margin: 0;
    padding: 0;
}

a {
    color: #4b3832;
    text-decoration: none;
}

a:hover {
    color: #b98c69;
    text-decoration: underline;
}

header {
    background-color: #f3e5de;
    color: #4b3832;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #4b3832;
}

header h1 {
    font-size: 30px;
    margin-left: 15px;
}

header nav {
    margin-left: auto;
}

header nav a {
    margin: 0 15px;
    font-weight: bold;
}

footer {
    background-color: #f3e5de;
    color: #4b3832;
    padding: 30px;
    text-align: center;
    border-top: 3px solid #4b3832;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #4b3832;
    font-weight: bold;
}

section {
    padding: 30px;
    margin: 30px auto;
    max-width: 60%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px grey;
}

section h3 {
    text-align: center;
    font-size: 30px;
    color: #6a4f4b;
    border-bottom: 2px solid #6a4f4b;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section p {
    font-size: 15px;
    line-height: 1;
    color: #4b3832;
}

#team {
    text-align: center;
}

#team div {
    display: inline-block;
    margin: 15px;
    text-align: center;
}

#team img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px gray;
}

#team p {
    font-size: 15px;
    color: #4b3832;
}

#team span {
    font-style: italic;
    color: rgb(201, 168, 128);
}

#story p {
    text-align: justify;
}

header span {
    text-decoration: underline;
}

footer span {
    text-decoration: underline;
}